<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar" *ngIf="imageToShow">
                    <img [src]="imageToShow" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="avatar" *ngIf="!imageToShow">
                    <img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Amr Mostafa<br /></h4>
                    <h6 class="description">Frontend Developer | Software Engineer</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>Adaptable recent college graduate with a B.Sc. in Computer Science,with experience in building web applications. Aiming to leverage academic experience and a proven knowledge of advanced technology, application
                        development, and programming to successfully fill the Full-Stack Developer.</p>
                    <br />
                    <!-- <button class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i> Settings</button> -->
                </div>
            </div>
            <br/>
        </div>
    </div>
</div>
